@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .movie-card {
    @apply border border-gray-500
    rounded-md
    shadow
    p-2
    transform transition-transform duration-200 ease-out
    hover:scale-[1.02] hover:shadow-lg;
  }
  .second-button {
    @apply flex items-center border border-orange-500 text-sm px-4 py-2 cursor-pointer;
  }
}
